@model AxpCallerRewrite.Models.CompanyModel


@{ SelectList environments = ViewBag.Environments;}
@Html.Label("EnvironmentLevel", "Environment Level")
@Html.DropDownListFor(m => m.EnvironmentLevel, environments, new { @class = "form-control" })

@Html.Label("CompanyName", "Company Name")
<div>
    @Html.ValidationMessageFor(m => m.CompanyName)
    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
</div>

@{ SelectList Countries = ViewBag.Countries;}
@Html.Label("Country", "Country")
@Html.DropDownListFor(m => m.Country, Countries, new { @class = "form-control", onChange = "check()" })

@{ SelectList states = ViewBag.States;}
@Html.Label("State", "State")
@Html.DropDownListFor(m => m.State, states, new { @class = "form-control" })

@Html.Label("Address1", "Address Line 1")
<div>
    @Html.ValidationMessageFor(m => m.Address1)
    @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
</div>

@Html.Label("Address2", "Address Line 2")
@Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })

@Html.Label("City", "City")
<div>
    @Html.ValidationMessageFor(m => m.City)
    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
</div>

@Html.Label("Zip", "Zip Code")
<div>
    @Html.ValidationMessageFor(m => m.Zip)
    @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
</div>

@Html.Label("Email", "Email")
<div>
    @Html.ValidationMessageFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
</div>

@Html.Label("Phone", "Phone Number")
<div>
    @Html.ValidationMessageFor(m => m.Phone)
    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "E.g. 1234567890" })
</div>

@Html.Label("Fax", "Fax Number")
<div>
    @Html.ValidationMessageFor(m => m.Fax)
    @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", placeholder = "E.g. 1234567890" })
</div>

@{ SelectList companyTypes = ViewBag.CompanyTypes;}
@Html.Label("CompanyType", "Company Types (Hold Ctrl to Select Multiple)")
<div>
    @Html.ValidationMessageFor(m => m.CompanyTypes)
    <div id="multi-select-boxes" style="height: 200px;">
        <div id="demo">
            @Html.CheckBoxFor(m => m.Demo) @Html.Label("Demo", "Demo")
        </div>
        <div class="multi-select-group">
            @Html.DropDownList("CompanyType", companyTypes, new { @class = "form-control multi-select", multiple = "multiple", id = "company-types-options" })
        </div>

        <div id="select-buttons">
            <button type="button" id="select" onclick="Select()">&#9658;</button>
            <button type="button" id="deselct" onclick="Deselect()">&#9668;</button>
        </div>

        <div class="multi-select-group">
            @Html.DropDownListFor(m => m.CompanyTypes, new SelectList(new List<SelectListItem>()), new { @class = "form-control multi-select", multiple = "multiple", id = "company-types-select" })
        </div>
    </div>
</div>