@model AxpCallerRewrite.Models.CompanyModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="color: red;"><span class="glyphicon glyphicon-lock"></span> Create A Company</h4>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("CreateCompany", "Home"))
        {
            <div class="form-group">
                @Html.Label("EnvironmentLevel", "Environment Level")
                @Html.DropDownListFor(m => m.EnvironmentLevel, new SelectList(
                                      new List<Object>{
                                           new { value = "Dev" , text = "Dev"  },
                                           new { value = "QA" , text = "QA" },
                                           new { value = "Prod" , text = "Prod"}
                                        },
                                      "value",
                                      "text",
                                       2), new { @class = "form-control", required = "required" })

                @Html.Label("CompanyName", "Company Name")
                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", required = "required" })

                @{ SelectList Countries = ViewBag.Countries;}
                @Html.Label("Country", "Country")
                @Html.DropDownListFor(m => m.Country, Countries, new { @class = "form-control" })

                @{ SelectList states = ViewBag.States;}
                @Html.Label("companyState", "Company State")
                @Html.DropDownListFor(m => m.State, states, new { @class = "form-control", required = "required" })

                @Html.Label("Address1", "Address Line 1")
                @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", required = "required" })

                @Html.Label("Address2", "Address Line 2")
                @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })

                @Html.Label("City", "City")
                @Html.TextBoxFor(m => m.City, new { @class = "form-control", required = "required", pattern = "^[a-zA-Z]+(?:[\\s-][a-zA-Z]+)*$" })

                @Html.Label("Zip", "Zip Code")
                @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", required = "required", pattern = "^\\d{5}(?:[-\\s]\\d{4})?$" })

                @Html.Label("Email", "Email")
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required", type = "email"})
                @Html.Label("Phone", "Phone Number")
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", required = "required", type = "tel", pattern = "^\\d{10}$", placeholder ="Ex: 1234567890" })

                @Html.Label("Fax", "Fax Number")
                @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", pattern = "^\\d{10}$", placeholder = "Ex: 1234567890" })

                @{ SelectList companyTypes = ViewBag.CompanyTypes;}
                @Html.Label("CompanyType", "Company Type")
                @Html.DropDownListFor(m => m.CompanyType, companyTypes, new { @class = "form-control" })

                <button type="submit" id="btnCreateCompanyAction" class="btn btn-default">Create</button>
            </div>
                    }
    </div>
</div>