@model AxpCallerRewrite.Models.ProductModel

@{ SelectList environments = ViewBag.Environments;}
@Html.Label("EnvironmentLevel", "Environment Level")
@Html.DropDownListFor(m => m.EnvironmentLevel, environments, new { @class = "form-control" })

@Html.Label("CompanyId", "Company ID")
<div>
    @Html.ValidationMessageFor(m => m.CompanyId)
    @Html.TextBoxFor(m => m.CompanyId, new { @class = "form-control" })
</div>

@{ SelectList ProdsLevels = ViewBag.ProdIdLevelNum;}
@Html.Label("ProdIdLevelNum", "Product and Product Level")
@Html.DropDownListFor(m => m.ProdIdLevelNum, ProdsLevels, new { @class = "form-control" })