<!DOCTYPE html>
<html>

<head>
    <title>
        AxpRevamp ver. 1.2
    </title>
    <link type="text/css" href="~/css/AxpRevamp.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <p>What would you like to do?</p>
            <button type="button" id="btnCreateCompany" class="btn btn-default">Create Company</button>
            @*--- Modal--- *@
            <div class="modal fade" id="modalCreateCompany" role="dialog">
                <div class="modal-dialog">
                    @* ----- Modal Content ---- *@
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" id="company-close"data-dismiss="modal">&times;</button>
                            <h4 style="color: red;"><span class="glyphicon glyphicon-lock"></span> Create A Company</h4>
                        </div>
                        <div class="modal-body">
                            <form id="company-form">
                                <div class="form-group">
                                    <div id="create-company-partial">
                                        @Html.Partial("_Company")
                                    </div>
                                    <button type="button" id="btnCreateCompanyAction" class="btn btn-default">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @*Activate Feature*@
            <button type="button" id="btnActivateFeature" class="btn btn-default">Activate Feature</button>
            @*--- Modal--- *@
            <div class="modal fade" id="modalActivateFeature" role="dialog">
                <div class="modal-dialog">
                    @* ----- Modal Content ---- *@
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close feature-close" data-dismiss="modal">&times;</button>
                            <h4 style="color: red;"><span class="glyphicon glyphicon-lock"></span>Activate Feature</h4>
                        </div>
                        <div class="modal-body">
                            <form id="activate-feature-form">
                                <div class="form-group">
                                    <div id="activate-feature-partial">
                                        @Html.Partial("_Feature")
                                    </div>
                                    <button type="button" id="btnActivateFeatureAction" class="btn btn-default">Activate</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @*Deactivate Feature*@
            <button type="button" id="btnDeactivateFeature" class="btn btn-default">Deactivate Feature</button>
            @*--- Modal--- *@
            <div class="modal fade" id="modalDeactivateFeature" role="dialog">
                <div class="modal-dialog">
                    @* ----- Modal Content ---- *@
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close feature-close" data-dismiss="modal">&times;</button>
                            <h4 style="color: red;"><span class="glyphicon glyphicon-lock"></span>Deactivate Feature</h4>
                        </div>
                        <div class="modal-body">
                            <form id="deactivate-feature-form">
                                <div class="form-group">
                                    <div id="deactivate-feature-partial">
                                        @Html.Partial("_Feature")
                                    </div>
                                    <button type="button" id="btnDeactivateFeatureAction" class="btn btn-default">Deactivate</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @*Activate Product*@
            <button type="button" id="btnActivateProduct" class="btn btn-default">Activate Product</button>
            @*--- Modal--- *@
            <div class="modal fade" id="modalActivateProduct" role="dialog">
                <div class="modal-dialog">
                    @* ----- Modal Content ---- *@
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close product-close" data-dismiss="modal">&times;</button>
                            <h4 style="color: red;"><span class="glyphicon glyphicon-lock"></span>Activate Product</h4>
                        </div>
                        <div class="modal-body">
                            <form id="activate-product-form">
                                <div class="form-group">
                                    <div id="activate-product-partial">
                                        @Html.Partial("_Product")
                                    </div>
                                    <button type="button" id="btnActivateProductAction" class="btn btn-default">Activate</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        $('#btnActivateFeatureAction').click(function () {
            $.post('@Url.Action("ActivateFeature", "Home")', $('#activate-feature-form').serialize(), function (result) {
                $('#activate-feature-partial').html(result);
            });
        });

        $('#btnDeactivateFeatureAction').click(function () {
            $.post('@Url.Action("DeactivateFeature", "Home")', $('#deactivate-feature-form').serialize(), function (result) {
                $('#deactivate-feature-partial').html(result);
            });
        });

        $('#btnCreateCompanyAction').click(function () {
            $.post('@Url.Action("CreateCompany", "Home")', $('#company-form').serialize(), function (result) {
                $('#create-company-partial').html(result);
            });
        });

        $('#company-close','.in').click(function () {
            $('#CompanyName').val('');
            $('#Address1').val('');
            $('#Address2').val('');
            $('#City').val('');
            $('#Zip').val('');
            $('#Email').val('');
            $('#Phone').val('');
            $('#Fax').val('');
            $('.field-validation-error').empty();

        });

        $('.feature-close').click(function () {
            $

        })
    </script>
</body>

</html>