@model AxpCallerRewrite.Models.CompanyModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html>

<head>
    <title>
        AxpRevamp ver. 1.2
    </title>
    <link type="text/css" href="~/css/AxpRevamp.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <p>What would you like to do?</p>
            <button type="button" id="btnCreateCompany" class="btn btn-default">Create Company</button>
            @*--- Modal--- *@
            <div class="modal fade" id="modalCreateCompany" role="dialog">
                <div class="modal-dialog">
                    @* ----- Modal Content ---- *@
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 style="color: red;"><span class="glyphicon glyphicon-lock"></span> Create A Company</h4>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("CreateCompany","Home"))
                            {
                                <div class="form-group">
                                    @Html.Label("CompanyName", "Company Name")
                                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })

                                    @Html.Label("Country", "Country")
                                    <div>
                                        <select id="Country" class="form-control">
                                            <option>US</option>
                                            <option>Canada</option>
                                            <option>Mexico</option>
                                        </select>
                                    </div>

                                    @Html.Label("companyState", "Company State")
                                    <div>
                                        <select id="companyState" class="form-control">
                                            <option>LoadState 1</option>
                                            <option>Load State 2</option>
                                            <option>Load State 3</option>
                                        </select>
                                    </div>

                                    @Html.Label("Address", "Address")
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })

                                    @Html.Label("City", "City")
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })

                                    @Html.Label("Zip", "Zip")
                                    @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })

                                    @Html.Label("Phone", "Phone")
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })

                                    @Html.Label("Fax", "Fax")
                                    @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })

                                    @Html.Label("companyType", "Company Type")
                                    <div>
                                        <select id="companyType" class="form-control">
                                            <option>Load DB1</option>
                                            <option>Load DB2</option>
                                            <option>Load DB3</option>
                                        </select>
                                    </div>

                                    <button type="submit" id="btnCreateCompanyAction" class="btn btn-default">Create</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>